@use '../global/' as global;

.p-devise__title {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.p-devise__inner {
  width: 26rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  .p-devise__link {
    color: #333;
  }
}

.new_user {

}

.p-devise__errors-title {
  font-size: 1.2rem;
  color: #333;
}
.p-devise__errors-item {
  color: #333;
}


.p-devise__form-label {
  color: #333;
}
.p-devise__form-group {
  margin-top: 1rem;

  &--check {
    position: relative;
  }
}

.p-devise__form-input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.2rem;
}

.p-devise__form-check {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;

  & + .p-devise__form-label {
    position: relative;
    padding-left: 30px;
   cursor: pointer;
}

  & + .p-devise__form-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    background-color: #fff;
}

  &:checked + .p-devise__form-label:before {
    background-color: global.$primary-color;
    border-color: global.$primary-color;
}

&:checked + .p-devise__form-label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

}
.p-devise__form-actions {
  margin-top: 1rem;
}

.p-devise__form-button {
  margin-top: 1rem;
}

.p-devise__links {
  margin-top: 0.5rem;
}