.p-devise__title {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.p-devise__inner {
  width: 26rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  .p-devise__link {
    color: #333;
  }
}

.new_user {

}

.p-devise__errors-title {
  font-size: 1.2rem;
  color: #333;
}
.p-devise__errors-item {
  color: #333;
}


.p-devise__form-label {
  color: #333;
}
.p-devise__form-group {
  margin-top: 1rem;
}

.p-devise__form-input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.2rem;
}

.p-devise__form-actions {
  margin-top: 1rem;
}

.p-devise__form-button {
  margin-top: 1rem;
}

.p-devise__links {
  margin-top: 0.5rem;
}