@use "../global" as global;

.p-header {
  max-width: 100%;
  border-bottom: 1px #eee solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 3.5rem;
  z-index: 10;
}

.p-header__inner {
  margin-inline: auto;
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-header__title {
  font-size: 1.5rem;
  color: global.$primary-color;
}

.p-header__title-icon {
  color: global.$primary-color;
  margin-right: 0.2rem;
}