  .l-inner
    = render partial: 'shared/sidebar'

    .p-home__content
      h2.p-home__title ホーム

      .p-home__tab-list
        .p-home__tab-item
          = link_to 'おすすめ', root_path, class: "p-home__tab-link #{ params[:following] ? '' : 'p-home__tab-link--active' }"

        .p-home__tab-item
          = link_to 'フォロー中', root_path(following: true), class: "p-home__tab-link #{ params[:following] ? 'p-home__tab-link--active' : '' }"
          
      
      
      .p-home__form-wrap
        = link_to user_path(current_user), class: 'p-home__form-image' do 
          = image_tag current_user.avatar

        = form_with model: @tweet, class: 'p-home__form-body' do |f|
          = f.text_area :content, class: 'p-home__form-area', placeholder: 'いまどうしている？'
          = render partial: 'shared/validation_error', locals: { object: @tweet ,field: :content }

          .p-home__form-button-wrap
            .p-home__form-group
              = f.label :image, '画像をアップロード', class: 'p-home_from-label'
              = f.file_field :image, class: 'p-home__form-input', label: '画像を選択'
              = render partial: 'shared/validation_error', locals: { object: @tweet ,field: :image }

            = f.submit 'ツイートする', class: 'c-button p-home_form-button'



          
      ul.p-home__tweet-list
        - @tweets.each do |tweet|
          = render partial: 'shared/tweet', locals: { tweet: tweet}

      .p-home__tweet-page
        = paginate @tweets