  .l-inner.p-main__inner
    .p-main__sidebar
      = render partial: 'shared/sidebar'

    .p-home__content
      h2.p-home__title ホーム

      .p-home__tab-list
        .p-home__tab-item
          = link_to 'おすすめ', root_path, class: "p-home__tab-link #{ params[:following] ? '' : 'p-home__tab-link--active' }"

        .p-home__tab-item
          = link_to 'フォロー中', root_path(following: true), class: "p-home__tab-link #{ params[:following] ? 'p-home__tab-link--active' : '' }"
          
      
      
      .p-home__form-wrap
        = link_to user_path(current_user), class: 'p-home__form-image' do 
          = image_tag current_user.avatar

        = form_with model: @tweet, class: 'p-home__form-body' do |f|
          = f.text_area :content, class: 'p-home__form-input', placeholder: 'いまどうしている？'

          .p-home__form-button-wrap
           = f.submit 'ツイートする', class: 'c-button p-home_form-button'



          
      ul.p-home__tweet-list
        - @tweets.each do |tweet|
         li.c-tweet.p-home__tweet-item
          .c-tweet__avatar
            = image_tag tweet.user.avatar
          .c-tweet__content
            .c-tweet__name-wrap
              span.c-tweet__display-name
                = tweet.user.display_name
              span.c-tweet__account-name
                |@
                = tweet.user.account_name
              span.c-tweet__created_at 
                = tweet.created_at.strftime("%Y年%m月%d日 %H:%M")
            .c-tweet__text-wrap
              = tweet.content

      .p-home__tweet-page
        = paginate @tweets