li.c-tweet
  .c-tweet__wrap
    = link_to user_path(tweet.user_id), class: "c-tweet__avatar"
      = image_tag tweet.user.avatar
    .c-tweet__content
      - if tweet.retweets.exists?
        .c-tweet__retweet-person
         | リツイートされました
      .c-tweet__meta
        = link_to user_path(tweet.user_id), class: "c-tweet__name-wrap" do
          span.c-tweet__display-name
            = tweet.user.display_name
          span.c-tweet__account-name
            |@
            = tweet.user.account_name
          span.c-tweet__created_at 
            - if tweet.created_at.present?
              = tweet.created_at.strftime("%Y年%m月%d日 %H:%M")
        div.c-tweet__action-button-wrap
          div.js-tweet-action.c-tweet__action-button
            span.c-tweet__action-button-dot
            span.c-tweet__action-button-dot
            span.c-tweet__action-button-dot
          ul.c-tweet__action-list
            - unless current_user === tweet.user
              - if current_user.following?(tweet.user)
                li.c-tweet__action-item
                  = link_to 'フォロー解除', user_follow_path(tweet.user), data: { turbo_method: :delete }
              - else
                li.c-tweet__action-item
                  = link_to 'フォローする', user_follow_path(tweet.user), data: { turbo_method: :post }
            li.c-tweet__action-item 未実装の機能
            li.c-tweet__action-item 
              | 未実装の機能
            li.c-tweet__action-item 
              | 未実装の機能
      .c-tweet_follow 
      - if tweet.parent_id.present?
        .c-tweet__reply
          | 返信先は@
          = link_to tweet.user.account_name, tweet_path(tweet.parent_id), class: 'c-tweet__reply-link'
          | さん
      
      = link_to tweet_path(tweet), class: "c-tweet__text-wrap"
        = sanitize(simple_format(tweet.content))
        - if  tweet.image.attached?
          .c-tweet__image
            = image_tag tweet.image

    
  .c-tweet__footer
    .c-tweet__like-wrap
      - if current_user.likes.exists?(tweet: tweet)
        = link_to tweet_like_path(tweet), data: { turbo_method: :delete } do
          i.bi.bi-suit-heart-fill.c-tweet__like-fill
            - if tweet.likes_count > 0
              span.c-tweet__like-count
                = tweet.likes_count
      - else
        = link_to tweet_like_path(tweet), data: { turbo_method: :post } do
          i.bi.bi-suit-heart.c-tweet__like
            - if tweet.likes_count > 0
              span.c-tweet__like-count 
               = tweet.likes_count
    
    .c-tweet__retweet-wrap
      - if current_user.retweets.exists?(tweet: tweet)
        = link_to tweet_retweet_path(tweet), data: { turbo_method: :delete } do
          i.bi.bi-arrow-repeat.c-tweet__retweet.c-tweet__retweet--true
            - if tweet.retweets_count > 0
              span.c-tweet__retweet-count
                = tweet.retweets_count
      - else
        = link_to tweet_retweet_path(tweet), data: { turbo_method: :post } do
          i.bi.bi-arrow-repeat.c-tweet__retweet
            - if tweet.retweets_count > 0
              span.c-tweet__retweet-count 
                = tweet.retweets_count

    .c-tweet__bookmark-wrap
      - if current_user.bookmarks.exists?(tweet_id: tweet.id)
        = link_to tweet_bookmark_path(tweet), data: { turbo_method: :delete } do
          i.bi.bi-bookmark.c-tweet__bookmark.c-tweet__bookmark--true
            - if tweet.bookmarks_count > 0
              span.c-tweet__bookmark-count
                = tweet.bookmarks_count
      - else
        = link_to tweet_bookmark_path(tweet_id: tweet.id), data: { turbo_method: :post } do
          i.bi.bi-bookmark.c-tweet__bookmark
            - if tweet.bookmarks_count > 0
              span.c-tweet__bookmark-count 
                = tweet.bookmarks_count