- if page.current?
  li.p-page__item.active
    = content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'p-page__link'
- else
  li.p-page__item
    = link_to page, url, remote: remote, rel: page.rel, class: 'p-page__link'
