$primary-color: #1da1f2;

.btn-primary {
  background-color: $primary-color;
  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}

.btn-outline-primary {
  &:hover {
    background-color: $primary-color;
  }
}

img {
  width: 100%;
  height: auto;
}