p
  | Hello 
  = @resource.email
  | !
p
  | パスワード変更の要請がありました。以下のリンクから変更することができます。
p
  = link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
p
  | 心当たりがなければ、このメールを無視してください。
p
  | あなたのパスワードは、新しく変更されるまで、勝手に変更されることはありません。
