@use "../global" as global;

.c-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 2px solid global.$primary-color;
  background-color: global.$primary-color;
  color: #fff;
  font-size: 1.2rem;
  &:hover {
    color: #fff;
  }

  &__GitHub {
    background: #333;
    border: 2px solid #333;
  }

}