@use "../global" as global;

.c-tweet {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.c-tweet__wrap {
  display: flex;
}

.c-tweet__avatar {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    height: 100%;
    object-fit: cover;
  }
}
.c-tweet__content {
  margin-left: 1rem;
  width: 75%;
  
}

.c-tweet__meta {
  display: flex;
  justify-content: space-between;

}

.c-tweet__display-name {
  font-weight: bold;
}

.c-tweet__account-name {
  color: #555;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.c-tweet__created_at {
  font-size: 0.7rem;
  color: #555;
  margin-left: 0.5rem;

}

.c-tweet__action-button-wrap {
  position: relative;
}

.c-tweet__action-button {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  border: 1px solid #999;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.c-tweet__action-button-dot {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #999;
}

.c-tweet__action-list {
  border: 1px solid #999;
  border-radius: 1rem;
  display: none;
  position: absolute;
  z-index: 3;
  background-color: #fff;
  right: 0;
  width: 8rem;
}

.c-tweet__action-item {
  padding: 0.25rem 0.5rem;
}

.c-tweet__reply {
  font-size: 0.9rem;
}

.c-tweet__reply-link {
  color: global.$primary-color;
}

.c-tweet__text {

}

.c-tweet__image {
  width: 100%;
  margin-top: 1rem;


  & > img {

  }
}

.c-tweet__footer {
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
}
.c-tweet__like-wrap {
  width: 5rem;
}

.c-tweet__like {
  &:hover {
    color: red;
  }
}

.c-tweet__like-fill {
  color: red;
}

.c-tweet__like-count,
.c-tweet__retweet-count {
  margin-left: 0.5rem;
  font-style: normal;
}

.c-tweet__retweet-wrap {
  margin-left: 2rem;
}

.c-tweet__retweet {
  &--true {
    color: #17BF63;
  }
}

.c-tweet__retweet-person {
  font-weight: 700;
  font-size: 0.8rem;
}
